body {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	background: #E8E8E7;
}

.contenedor {
	margin: auto;
	position: relative;
}

.portada {
	padding: 60px;
	height: 500px;
}

.menu {
	font-size: 16px;
	display: inline-block;
	position: absolute;
	right: 40px;
}

.menu li {
	display: inline-block;
	margin-left: 45px;
}

.menu a {
	color: #495352;
	text-decoration: none;
}

.logotipo {
	display: inline-block;
	margin-left: 10px;
}

.logotipo h4 {
	display: inline-block;
	color: #495352;
	padding-left: 20px;
}

.contenedor-a{
	background: white;
	height: 350px;
	border-radius: 5px;
	position: relative;
}

.contenedor-b {
	height: 700px;
	position: relative;

}

.contenedor-c {
	height: 500px;
	position: relative;
	background: white;
}

.header {
	position: relative;
}

#button { 
	border-radius: 5px;
	padding: 5px 15px;
	color: white;
	cursor: pointer;
	background: #495352;
}

.button-a {
	font-size: 40px;
	padding: 20px 130px 20px 30px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	text-decoration: none;
	font-size: ;
	background: #37A3E1;
}

.button-b {
	font-size: 40px;
	padding: 20px 130px 20px 30px;
	border-radius: 5px;
	color: black;
	cursor: pointer;
	text-decoration: none;
	font-size: ;
	background: #B0CACE;
	margin-top: 12px;
}

.col1, .col2 {
	display: inline-flex;
	flex-direction: column;
}

.col1 {
	margin-left: 65px;
	padding-top: 20px;
}

.col1 h1 {
	font-size: 60px;
	text-decoration:
	margin: 0;
}

.col1 p {
	font-size: 30px;
	margin: 0;
	text-decoration: none;
	color: #696969;
}

.col2 {
	font-size: 24px;
	margin-left: 250px;
}

.imagen {
	border-radius: 5px 5px 0 0;
}

.colum1, .colum2, .colum3 {
	display: inline-flex;
	flex-direction: column;
	border-radius: 5px;
	background: white;
	margin-right: 20px;
}

.colum1 {
	margin-left: 60px; 
}

.colum1 h3, .colum2 h3, .colum3 h3 {
	margin: 50px 0 15px 30px;
}

.colum1 h5, .colum2 h5, .colum3 h5 {
	margin: 0 0 50px 30px;
	color: #B6C6C5;
}

.colum1 p, .colum2 p, .colum3 p {
	font-size: 16px;
	margin: 10px 30px;
	color: #B6C6C5;
}

.columna1, .columna2 {
	display: inline-block;
	flex-direction: column;
	height: 350px;
}

.columna1 {
	width: 763px;
}

.columna1 h3 {
	font-size: 30px;
}

.columna1 p {
	font-size: 20px;
	padding-bottom: 20px;
	color: #B6C6C5;
}

.columna2{
	float: left;
	width: 463px;
	margin: 60px;
}

.columna2 h5 {
	font-size: 20px;
	margin: 10px 10px;
}

.button-c {
	font-size: 15px;
	padding: 15px 15px 15px 60px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	text-decoration: none;
	font-size: ;
	background: #37A3E1;
}

.button-d {
	font-size: 15px;
	padding: 15px 15px 15px 55px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	text-decoration: none;
	font-size: ;
	background: #37A3E1;
}

.image {
	margin: 8px;
}



.footer {

}

.co1, .co2, .co3, .co4 {
	display: inline-flex;
	flex-direction: column;
	margin: 60px;
}

.co1 h5, .co2 h5, .co3 h5, .co4 h5 {
	font-size: 20px;
}

.co1 p , .co2 p , .co3 p , .co4 p {
	text-decoration: underline;
	color: #B6C6C5;
}

.co4 h6 {
	font-size: 13px;
	margin-bottom: 1px;
	color: #B6C6C5;
}
.image-a {
	display: inline-block;
	margin: 10px;
}

.fin {
	height: 80px;
	margin-left: 450px;
	color: #B6C6C5;
	
}